body {
    font-family: Reboto, sans-serif;
}

a {
    text-decoration: none;
    color: #444444;
}

.HeaderMain {
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeaderMain> :nth-child() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeaderMain>:nth-child(1) {
    width: 40%;
}

.HeaderMain> :nth-child(2) {
    width: 40%;
}

.HeaderMain> :nth-child(3) {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.Search {
    width: 500px;
    border: 2px solid #fe5730;
    height: 45px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Search>input {
    outline: none;
    border: none;
    height: 30px;
    width: 60%;
    color: #fe5730;
    padding-left: 15px;
    font-size: 14px;
    text-transform: capitalize;
    font-family: Reboto, sans-serif;
}

.Search>button {
    background: linear-gradient(to right, #ee2d00, 0%, #fe5730 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ee2d00;
    padding: 6px 17px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.for_fav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 107px;
}

.for_login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.for_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.for_menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.lang {
    background-color: red;
}

.navigationmenu {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

.navigone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    padding-left: 20px;
}

.navigone>:nth-child(1) {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    width: 170px;
    align-items: center;
    font-size: 13px;
    font-family: Reboto, sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}

.navigone>:nth-child(3) {
    display: flex;
    width: 400px;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 600;
    font-family: Reboto, sans-serif;
}

.line {
    initial-value: '';
    border: 0.5px solid #e5e5e5;
    height: 25px;
    width: 0.5px;
}

.nav_li {
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.6;
    color: #444444;
}

.navigtwo {
    display: flex;
    width: 200px;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.navigtwo>p {
    color: #fe5730;
}

.menuBoutiques {
    position: fixed;
    width: 70vh;
    height: 55vh;
    z-index: 3;
    right: 3%;
    top: 14.9%;
    background-color: white;
    border-radius: 1%;
    border: 6px solid rgb(239, 239, 239);
    box-shadow: -5px 10px 50px 1px rgb(255, 241, 235);
    display: flex;
    align-items: center;
    justify-content: center;
}

.big_search {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
    background-color: white;
}

.big_close {
    position: fixed;
    right: 5%;
    top: 5%;
    cursor: pointer;
}

.one_boutique {
    display: flex;
    width: 50vh;
    position: relative;
    height: 30vh;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px 12px rgb(240, 240, 240);
}

.one_boutique>h3 {
    position: absolute;
    bottom: 3%;
    font-family: 'Courier New', Courier, monospace;
}

.data_container {
    overflow-x: hidden;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    width: 50%;
    height: auto;
    height: 50%;
    top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_big {
    position: fixed;
    margin: auto;
    top: 10%;
    left: 0;
    right: 0;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: red;
}

.inbig {
    padding: 10px;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menuRestaurant {
    position: fixed;
    width: 70vh;
    height: 30vh;
    z-index: 3;
    right: 3%;
    top: 14.9%;
    background-color: white;
    border-radius: 1%;
    border: 6px solid rgb(239, 239, 239);
    box-shadow: -5px 10px 50px 1px rgb(255, 241, 235);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inside_menuboutiques {
    width: 95%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inside_menu_boutiques_left {
    height: 100%;
    width: 50%;
}

.inside_menu_boutiques_right {
    height: 100%;
    display: flex;
    align-items: center;
    width: 50%;
}

.inside_menu_boutiques_right>img {
    width: 100%;
}

.menu_container {
    width: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.menu_container>p {
    color: rgba(0, 0, 0, 0.799);
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    cursor: pointer;
}