.boutiques {
    padding-top: 40px;
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
}

.liste_all {
    width: 70%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.href_nav {
    background-color: white;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center !important;
    height: 80px;
    box-shadow: 0px 0px 12px 0px rgb(209, 209, 209);
    border-radius: 5px;
}

.href_nav_active {
    background-color: #f2380c;
    width: 180px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center !important;
    height: 80px;
    box-shadow: 0px 0px 12px 0px rgb(209, 209, 209);
    border-radius: 5px;
}

.href_nav,
.href_nav_active>p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}

.nav {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.active_nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.nav_not_active {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.825);
}