@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

:root {
    --font-body-family: Roboto, sans-serif;
}